<style type="text/css" media="screen"> 
#header {
    margin-bottom: 0px;
}

#dropdown-menu .btn {
    margin: 15px 15px 15px 15px;
    color: rgba(255, 64, 0, 0.76);
    font-size: 20px;
}

.header {
    background-color: rgba(255, 64, 0, 0.76);
}

.title {
    color: #FFFFFF !important;
    line-height: inherit;
    height: 70px;
    padding: 25px 15px;
    font-size: 25px;
}

.btn-menu {
    color: rgba(255, 64, 0, 0.76);
    font-size: 20px;
    margin-bottom: 15px;
}


.displayNone {
    display: none !important;
}

.selected {
    background-color: #5E9FF2;
}

#tableArea {
    table-layout: fixed;
}

.timeCells {
    width: 10%;
}

.classCells {
    width: 18%;
    text-align: center;
    word-wrap: break-word;
}

/*table*/
th {
    text-align: center;
}

#tableHeadArea {
    /*background-color: rgba(76, 255, 0, 0.42);*/
    text-align: center;
}

#tableBodyArea {
    /*background-color: rgba(29, 255, 0, 0.21);*/
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    /*border: 1px solid rgba(11, 90, 1, 0.2);*/
}

/*dialog*/
.modal-header {
    background-color: rgba(255, 64, 0, 0.76);
    color: #ffffff;
}

</style>
